svg text {
  fill: black;
}

g.country > text.label {
  dominant-baseline: middle;
  text-anchor: middle;
  fill: black;
  font-size: 11px;
  font-family: 'Open Sans';
  font-weight: 700;
}

g.country.highval > text.label {
  fill: white;
}

g.country > image { display: none }
g.country > circle { fill: skyblue }
g.country.exsoc > circle { fill: salmon }