.graphviz text {
  font-family: Kavivanar;
}

svg text {
  fill: black;
}
g.triangle text {
  font-size: 4px;
}

.icon > use {
  opacity: 0.4;
}

use.stencil { fill: lightgray; }

.virus      { fill: green }
.world      { fill: blue  }
.tree       { fill: green }
.flashlight { fill: gray  }
.family     { fill: blue  }
.ape        { fill: gray  }
.pillbox    { fill: red   }
.undercover { fill: gray  }
.thermometer{ fill: red   }
.fem-sci    { fill: green }
.t-rex      { fill: gray  }

.icon:hover {
  cursor: pointer;
}
.icon:hover > use {
  opacity: 1;
}

.crosshairs line {
  stroke: gray;
}