svg text {
  fill: black;
}
g.triangle text {
  font-size: 4px;
}

.icon > use {
  opacity: 0.4;
}

use.stencil { fill: lightgray; }

.icon > .virus      { fill: green }
.icon > .world      { fill: blue  }
.icon > .tree       { fill: green }
.icon > .flashlight { fill: gray  }
.icon > .family     { fill: blue  }
.icon > .ape        { fill: gray  }
.icon > .pillbox    { fill: red   }
.icon > .undercover { fill: gray  }
.icon > .thermometer{ fill: red   }
.icon > .fem-sci    { fill: green }
.icon > .t-rex      { fill: gray  }

.icon:hover {
  cursor: pointer;
}
.icon:hover > use {
  opacity: 1;
}

.crosshairs line {
  stroke: gray;
}