
.week:nth-child(even) path {
  stroke-width: 1.5;
  fill:   dodgerblue;
  stroke: darkblue;
  fill-opacity: 80%;
}
.week:nth-child(odd) path {
  stroke-width: 1.5;
  fill:   skyblue;
  stroke: darkblue;
  fill-opacity: 80%;
}