g.top text {
  text-anchor: middle;
  dominant-baseline: central;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

g.chart g.mid text {
  text-anchor: middle;
  dominant-baseline: central;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  fill: darkblue;
}

g.chart g.mid text.ee {
  fill: darkred;
}

.graphviz svg {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.graphviz text {
  font-family: Kavivanar;
}
